* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

main {
    margin-top: 20px;
}

div {
    max-width: 450px;
    margin: auto;
    border: 2px solid black;


    .foto {
        border: 2px solid black;
        width: 220px;
        height: 250px;

        p{
            border: 0;
            margin: 0;
            padding-left: 10px;
            padding-top: 5px;
        }
    }

    a {
        display: block;
        border: 2px solid black;
        width: 175px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }

    p {
        border: 2px solid grey;
        margin-top: 20px;
    }

    .nm{
        margin-top: 0;
    }

    .p1 {
        margin-bottom: 40px;
    }

    .p2 {
        margin-top: 20px;
    }

    .n2, .n3 {
        margin-top: 20px;
        display: inline-block;
        border: 2px solid black;
        width: 90px;
        height: 100px;
    }

    .n1{
        display: inline-block;
        border: 2px solid black;
        width: 90px;
        height: 100px;
        margin-right: -18px;
    }
}

footer {
    border: 2px solid black;
    margin: 10px 20px 30px 40px;
}