* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
div{
    margin-inline: auto;
    border: 2px solid black;

    .foto{
        
    }
}